* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'PT Sans Narrow', sans-serif;
  color: black;
}

header {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  height: 120px;
  animation-name: fade in;
  animation-duration: 4s;
  background-color: rgba(0, 0, 0, 0.72);
  color: white;
}

header img:hover {
  cursor: pointer;
  ;
}

header ul {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 100px;
  width: 100%;
}

header li a {
  color: white;
  margin: 10px;
  animation: fadeIn;
  animation-duration: 1s;
  -webkit-animation: fadeIn;
  -webkit-animation-duration: 1s;
  -moz-animation: fadeIn;
  -moz-animation-duration: 1s;
}

header a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #d38009;
}

header li:nth-last-of-type(8) {
  padding-right: 350px;
}

.shrink {
  width: 100%;
  height: 100px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shrink img {
  width: 100px;
  height: 100px;
}

footer {
  width: 100%;
  height: 300px;
  background-color: rgb(33, 33, 33);
  display: flex;
  justify-content: center;
  //  background-image: url(beans3.jpg);
  //background-size: 850px;
}

.icons {
  display: block;
  width: 340px;
  align-content: center;
}

.icons p {
  font-size: 15px;
  color: #e6e8f5;
}

.icons ul {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.icons li {
  font-size: 25px;
  margin: 10px;
  text-align: center;
  align-items: center;
}

.icons i {
  color: #e6e8f5;
}

.icons i:hover {
  cursor: pointer;
  color: #d38009;
  transform: scale(1.05);
}

.careers {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 600px;
  width: 100%;
  line-height: 2;
  background-color: #e6e8f5;
}

.careers img {
  width: 1000px;
  height: 450px;
  padding-top: 100px;
}

.main-content {
  display: block;
  justify-content: center;
  height: 400px;
  width: 100%;
  line-height: 2;
  background-color: #e6e8f5;
}

.main-content h1 {
  text-align: center;
  line-height: 1;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.main-content ul {
  display: block;
  width: 100%;
}

.main-content li {
  margin-left: 175px;
  padding-top: 20px;
  line-height: 1;
}

.carreers-icons ul {
  display: flex;
  flex-direction: row;
  width: 1000px;
}

.carreers-icons li {
  margin: 0px;
  width: 70px;
  height: 50px;
  display: block;
  text-align: center;
  margin-left: 175px;
  margin-top: 50px;
  font-weight: 900;
}

.fas {
  font-size: 80px;
  color: #d38009;
  transition: 0.3s;
  text-shadow: #2d2b26 -5px 0 5px;
}

.fas li:nth-of-type(2) {
  padding-top: 50px;
}

.fas li:nth-of-type(4) {}

.fas:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

.carrers-icons {
  display: flex;
  width: 100%;
}

.requirements {
  display: block;
  width: 100%;
  height: 550px;
  background-color: #e6e8f5;
  display: none;
  color: black;
  justify-content: center;
}

.requirements ul {
  width: 1000px;
  display: block;
  line-height: 1.5;
  justify-content: center;
}

.requirements li {
  width: 100%;
  height: 100px;
  padding-left: 175px;
}