* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'PT Sans Narrow', sans-serif;
  color: black;
}

header {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.72);
  color: white;
}

header ul {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 100px;
  width: 100%;
}

header li a {
  color: white;
  margin: 10px;
  animation: fadeIn;
  animation-duration: 1s;
  -webkit-animation: fadeIn;
  -webkit-animation-duration: 1s;
  -moz-animation: fadeIn;
  -moz-animation-duration: 1s;
}

header a :hover {
  cursor: pointer;
  transition: 0.5s;
}

header li:nth-last-of-type(8) {
  padding-right: 350px;
}

footer {
  width: 100%;
  height: 300px;
  background-color: rgb(33, 33, 33);
  display: flex;
  justify-content: center;
  //  background-image: url(beans3.jpg);
  //background-size: 850px;
}

.icons {
  display: block;
  width: 340px;
  align-content: center;
}

.icons p {
  font-size: 15px;
  color: #e6e8f5;
}

.icons ul {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.icons li {
  font-size: 25px;
  margin: 10px;
  text-align: center;
  align-items: center;
}

.icons i {
  color: #e6e8f5;
}

.icons i:hover {
  cursor: pointer;
  color: #c63e3e;
  transform: scale(1.05);
}

.map {
  display: flex;
  background-color: #e6e8f5;
  justify-content: center;
}