@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yatra+One&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #ffffeb80;
    width:100%;
    overflow: hidden;   
}
.pic1 {
    position: absolute;
    z-index: -1;
    top: -280px;
    left: -230px;
    transform: rotate(-5deg);
}

section ul img {
    width: 100%;
    height: 100%;
}

.pic2 {
    position: absolute;
    z-index: -1;
    top: -100px;
    right: -50px;

    transform: rotate(-15deg);
}

header {

    width: 100%;
    height: 100px;

}

header ul {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

header ul li {
    width: 10%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-family: 'Varela Round', sans-serif;
    color: #008080;

}

header ul li a {
    font-weight: 900;
    font-family: 'Varela Round', sans-serif;
    color: #008080;
    transition: 0.1s;
}

header ul li a:hover {
    color: #FAD028;
    transition: 0.1s;
}

header ul li:first-child {
    width: 20%;
    font-family: 'Yatra One', cursive;
    font-size: 130%;
}

header ul li:last-child {
    margin-left: 300px;
    transition: 0.1s;
}

header ul li:last-child:hover {
    color: #FAD028;
    cursor: pointer;
    transition: 0.1s;
}

header ul li img {
    height: 100%;
}
section{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#about-us{
    width: 100%;
}
.about-us{
     width: 50%;
}
#form{
     width: 50%;
}
form{
    width: 80%;
    align-items: center;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #e6801b;
      width: 40%;
    height: 60px;
        font-size: 130%;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
}

input[type=submit]:hover {
  background-color:  #e6801b;
  opacity: 0.9;

}
label{

      font-family: 'Varela Round', sans-serif;
    color: #008080;
    font-weight: 800
}
h2{
    font-family: 'Varela Round', sans-serif;
    color: #008080;
    font-size: 200%;
    width: 100%;
    height: 100px;
   display: flex;
   justify-content: center;
   align-content: center;
       align-items: center;
}

h3{
    font-family: 'Varela Round', sans-serif;
    color: #008080;
    font-size: 200%;
    width: 100%;
    height: 70px;
   display: flex;

}

p{
     font-family: 'Varela Round', sans-serif;
    color:#006680;
    font-size: 130%;
    line-height: 1.5;
    margin: 10%;

}
#contacts{
    width: 80%;
    height: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.social-media{
    width: 20%;

}